.advices-in-text {
  margin-block-end: 50px;
}

.advices-in-text > .card__title {
  margin-block-end: 20px;
}

.nested-card > .card__title {
  font-weight: var(--normal-font-weight, 400);
}

.advices-in-pictures .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >= 768px) {
  .advices-in-pictures .card__title {
    margin-block-end: 20px;
  }

  .advices-in-text {
    margin-block-end: 60px;
  }

  .advices-in-pictures {
    grid-column: 1 / -1;
  }

  .advices-in-pictures .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content(200px) minmax(min-content, max-content) auto;
    gap: 20px;
  }

  .advices-in-pictures .item:nth-child(1) {
    grid-column: span 2;
  }

  .advices-in-pictures .item:nth-child(2) {
    grid-row: span 2;
  }

  .advices-in-pictures .item:nth-child(3) {
    grid-row: span 2;
  }

  .advices-in-pictures .item:nth-child(5) {
    grid-column: span 2;
  }
}
