.distractions__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 768px) {
  .distractions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .distractions__title {
    grid-column: 1;
  }

  .distractions__list {
    grid-column: 1 / -1;
  }
}

@media (width >= 1024px) {
  .distractions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .distractions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
