.footer {
  --headings-text-shadow: 2px 2px 0 var(--accent-color);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding, 10px);
  text-shadow: var(--headings-text-shadow, 2px 2px 0 #ff0070);
  min-block-size: 668px;
  block-size: 100dvh;
}

@media (width >= 768px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-block-size: 768px;
  }
}
