/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-color: var(--main-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center top;
  background-size: auto 100dvh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--main-text-color, #f1b2ce);
  font-size: var(--main-text-size, 18px);
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  line-height: var(--line-height, 130%);
}

.content {
  display: grid;
  gap: var(--section-gap, 50px);
  margin: var(--section-margin, 30px 0);
  padding: var(--section-padding, 10px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.dark-theme-decor {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  align-self: start;
  gap: 10px;
  justify-content: flex-end;
}

.dark-theme-decor::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}

.heading {
  --line-height: 82.5%;
  font-size: var(
    --headings-text-size,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  color: var(--headings-text-color, #db00ff);
  text-shadow: var(--headings-text-shadow, 4px 4px 0 #ff0070);
  line-height: var(--line-height, 82.5%);
  font-weight: var(--bold-font-weight, 700);
}

.title-decor {
  color: var(--main-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.section-title {
  font-weight: var(--bold-font-weight, 700);
  color: var(--accent-color, #ff0070);
  font-size: inherit;
  margin-block-end: 20px;
}

.section-subtitle {
  font-weight: var(--bold-font-weight, 700);
  font-size: inherit;
  margin-block-end: 10px;
}

.text__link {
  position: relative;
  display: inline-block;
  --headings-text-shadow: 2px 1px 0 var(--accent-color, #ff0070);
  text-decoration: none;
  text-shadow: var(--headings-text-shadow, 2px 1px 0 #ff0070);
}

.text__link:hover span::after {
  content: "";
  bottom: 2px;
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--main-text-color, #f1b2ce);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

@media (width >= 768px) {
  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .dark-theme-decor {
    top: 20px;
    right: 30px;
  }

  .section-title {
    margin-block-end: 0;
  }

  .section-subtitle {
    margin-block-end: 10px;
  }
}

@media (width >= 1024px) {
  .dark-theme-decor {
    top: 0;
    right: 10px;
    grid-column: 3 / -1;
    grid-row: 1;
  }
}
